@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@700&display=swap');



* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #FFFFFF;
}

html {
    font-family: Inter,sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none; 
    color: #fff2e780;
    }

ul {
    list-style: none;
    
}

nav {
    /* max-width: 1500px; */
    margin: auto;
    padding: 24px 160px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-family: teko;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;

}

.menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
    color: #fff2e780;
}

main {
    display: flex;
    flex-direction: column;

}

.principal {

    background: #181012;
}

.hero {
    /* max-width: 1500px; */
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    padding: 0px 160px;
    margin: auto;
    overflow: clip;
    height: 100vh;

    
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px ;

}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    font-weight: 1000;
    font-size: 56px;
}

hr {
    border-color: #a45a49;
}

.hero-subs {
    color: #c7bab3;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.hero-imagens-container {
    max-width: 45%;
    column-count: 3;
    column-gap: 16px;
    }

.hero-imagens-container > figure > img {
    width: 100%;
    border: 8px;
}

.button-container{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    transform: translate("0,-50%");
}

button {
    border: none;
    padding: 16px;
    border-radius: 8px;
    background: #a45a49;
}

.Musicas {
    display: flex;
    flex-direction: column;
    /* max-width: 1500px; */
    padding: 64px 32px;
    margin: 0 160px;
}
.Musicas-cabecalho{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Musicas-titulo{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    color:#fff2ef
}

.Musicas-subs{
    font-family: Inter;
    color: #c5bab3;
    font-size: 18px;
    font-weight: 400;
}

.Musicas-card-separadas{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 64px;
    justify-content: center;
    align-items: center;

}

.Musicas-card-container {
    /* padding: 0px 160px ; */
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    
    
}

.Musicas-card {
    background: #241a1c;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-basis: 1000px;
    margin-top: 32px ;
}

.Musicas-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end ;
}


.Musicas-autor{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: #c7bab3;
}

footer {
    padding: 64px;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 8px;
    background: #23181a;
}

.footer-copy{
    color: #fff2e7;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.footer-autor{
    color: #fff2e7;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

/* Login/Cadastro */


.formulario {
    border: 2px solid ;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;

}

.login-box {
    background: #181012;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    

}

.input-box i {
    position: absolute;
    right: 20px;
}

.login-button {
    width: 100%;
    height: 50px;
    color: #FFFFFF;

}

/* Obras */

.Obras-Main{

}

.Obras{
    background: #181012;
}

.Obras-Titulo{
    font-family: tekko;
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

.Obras-Discos{
    display: flex;
    flex-direction: column;
}

.Obras-Separadas{
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-between;
    gap: 20px;
}



.Obras-Separadas-Dentro{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    border: 2px solid white;
    border-radius: 40px;
    
}


.Obras-img {
    width: 160px;
    height: 160px;
}

.Obras-Sobre{
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    padding: 30px 0 0 0; 

}


